.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    min-height: 40px;
    @media (max-width: #{$md3 + px}) {
        min-height: 5px;
    }

    &._scroll {
        .header__wrapper {
            background-color: rgb(252, 248, 243, 0.9);
        }
        .header__body {
            min-height: 50px;
            @media (min-width: #{$md2 + px}) {
                min-height: 70px;
            }
        }
    }

    &__wrapper {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 50;
        transition: background-color 0.3s ease 0s;
    }

    &__body {
        display: flex;
        align-items: center;
        padding: 5px 0;
        min-height: 125px;
        position: relative;
        transition: min-height 0.3s ease 0s;

        @media (max-width: #{$md2 + px}) {
            min-height: 80px;
        }
        @media (max-width: #{$md3 + px}) {
            min-height: 50px;
        }
    }

    &__main {
        display: flex;
        align-items: center;
        flex: 0 0 calc(494/1240*100%);

        @media (max-width: #{$md2 + px}) {
            flex: 1 1 auto;
        }
    }

    &__logo {
        font-weight: 700;
        font-size: 24px;
        line-height: calc(29/24*100%);
        color: #000000;
        position: relative;
        z-index: 5;
    }

    // &__menu {
    // }

    &__search {
        z-index: 10;
        @include adaptiv-value('padding-right', 32, 15, 1);
        @media (min-width: #{$md2 + px}) {
            flex: 1 1 auto;
        }
    }

    // &__actions {
    // }
}

.menu {
    flex: 0 1 420px;

    &__arrow {
        margin: 0px 0px 0px 8px;
        transition: all 0.3s ease 0s;
        font-size: 8px;
        @media (max-width: #{$md3 + px}) {
            font-size: 12px;
        }
    }

    &__body {
        @media (max-width: #{$md3 + px}) {
            position: fixed;
            width: 100%;
            height: 100%;
            overflow: auto;
            top: 0;
            right: -100%;
            background-color: #fcf8f3;
            transition: right 0.3s ease 0s;
            padding: 70px 15px 30px 15px;

            &::before {
                content: '';
                position: fixed;
                width: 100%;
                height: 50px;
                top: 0;
                right: -100%;
                background-color: #fcf8f3;
                transition: right 0.3s ease 0s;
                z-index: 2;
            }

            &.active {
                right: 0;

                &::before {
                    right: 0;
                }
            }
        }
    }

    &__list {
        @media (min-width: #{$md3 + px}) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0px 3px;
        padding: 5px 0px;
        position: relative;

        ._icon-arrow-down {
            position: relative;
            top: 1px;
        }

        @media (any-hover: hover) {
            &:hover {
                .menu__sub-list {
                    transform: translate(0px, 0px);
                    opacity: 1;
                    visibility: visible;
                    pointer-events: auto;
                }
                .menu__arrow {
                    transform: rotate(-180deg);
                }
                .menu__link,
                .menu__arrow {
                    color: $orangeColor;
                }
            }
        }

        @media (min-width: #{$md3 + px}) {
            &._hover {
                .menu__sub-list {
                    transform: translate(0px, 0px);
                    opacity: 1;
                    visibility: visible;
                    pointer-events: auto;
                }
                .menu__arrow {
                    transform: rotate(-180deg);
                }
                .menu__link,
                .menu__arrow {
                    color: $orangeColor;
                }
            }
        }

        &._hover {
            .menu__sub-list {
                transform: translate(0px, 0px);
                opacity: 1;
                visibility: visible;
                pointer-events: auto;
            }
            .menu__arrow {
                transform: rotate(-180deg);
            }
            .menu__link,
            .menu__arrow {
                color: $orangeColor;
            }
        }

        @media (max-width: #{$md3 + px}) {
            justify-content: start;
        }
    }

    &__link {
        font-size: 16px;
        font-weight: 500;
        color: inherit;
        background-color: transparent;
        transition: color 0.3s ease 0s;

        @media (max-width: #{$md3 + px}) {
            font-size: 24px;
        }
    }

    &__sub-list {
        position: relative;
        background-color: $orangeColor;
        padding: 15px;
        flex: 1 1 100%;
        @media (min-width: #{$md3 + px}) {
            opacity: 0;
            transition: all 0.3s ease 0s;
            transform: translate(0px, 10px);
            visibility: hidden;
            min-width: 200px;
            left: 0;
            pointer-events: none;
            position: absolute;
            top: 100%;
            z-index: 5;
        }
        @media (max-width: #{$md3 + px}) {
            max-height: 0;
            overflow: hidden;
            padding: 0;
            transition:all 0.3s ease 0s;

            &.accordion {
                max-height: fit-content;
                padding: 15px;
            }
        }
    }

    &__sub-item {
        &:not(:last-child) {
            margin: 0px 0px 5px 0px;

            @media (max-width: #{$md3 + px}) {
                margin: 0px 0px 10px 0px;
            }
        }
    }

    &__sub-link {
        color: #fff;
        line-height: 120%;

        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
        @media (max-width: #{$md3 + px}) {
            font-size: 18px;
        }
    }
}

.search-form {
    max-width: 473px;

    &._active {
        .search-form__item {
            opacity: 1;
            top: 100%;
            visibility: visible;

        }
        .search-form__icon {
            color: $orangeColor;
        }
    }

    &__icon {
        position: relative;
        z-index: 5;
        font-size: 22px;
        color: #262f56;

        @media (min-width: #{$md2 + px}) {
            display: none;
        }
    }

    &__item {
        background-color: #fff;
        display: flex;
        align-items: center;

        @media (max-width: #{$md2 + px}) {
            box-shadow: 0 0 5px rgba(212, 209, 205, 0.3);
            position: absolute;
            width: 100%;
            left: 0;
            top: -100%;
            z-index: 5;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease 0s;
        }
    }

    &__btn {
        flex: 0 0 45px;
        height: 45px;
        color: #333333;
        font-size: 15px;
    }

    &__input {
        width: 100%;
        font-size: 14px;
        padding: 0px 20px 0px 0px;
        color: $darkGrayColor;
    }
}

.actions-header {
    position: relative;
    z-index: 5;
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: column;
    align-items: center;
    @include adaptiv-value('gap', 32, 15, 1);

    &__item {

        &_favorites {
            color: #262f56;
            font-size: 24px;
            transition: color 0.3s ease 0s;

            @media (any-hover: hover) {
                &:hover {
                    color: $orangeColor;
                }
            }
        }

        &_user {
            overflow: hidden;
            border-radius: 50%;
            @include adaptiv-value('width', 40, 30, 1);
            @include adaptiv-value('height', 40, 30, 1);
        }
    }
}
.cart-header {

    &__icon {
        color: #262f56;
        font-size: 24px;
        transition: color 0.3s ease 0s;
        position: relative;
        display: block;

        @media (any-hover: hover) {
            &:hover {
                color: $orangeColor;
            }
        }

        span {
            position: absolute;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            top: -10px;
            right: -10px;
            border-radius: 50%;
            background-color: $orangeColor;
            color: #fff;
            font-size: 12px;
        }
    }

    &__body {
        background: #f4f5f7;
        border: 1px solid #e0e0e0;
        position: absolute;
        top: 60px;
        right: 0;
        padding: 15px;
        width: 300px;
        z-index: 5;
        opacity: 0;
        visibility: hidden;
        transform: translate(0px, 20px);
        transition: all 0.3s ease 0s;

        ._active & {
            opacity: 1;
            visibility: visible;
            transform: translate(0px, 0px);
        }

        @media (max-width: #{$md2 + px}) {
            top: 50px
        }
        @media (max-width: #{$md3 + px}) {
            position: fixed;
            top: 50px;
            left: 0;
            width: 100%;
        }
    }

//     &__list {
//     }
}

.cart-list {
    overflow: auto;
    max-height: 200px;
    //.cart-list__image
    &__image {
        flex: 0 0 75px;
        height: 75px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    //.cart-list__body
    &__body {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px 0px 0px 10px;
    }
    //.cart-list__title
    &__title {
        color: inherit;
        font-weight: 600;
        transition: color 0.3s ease 0s;
        margin: 0px 0px calc(5px/16px * 1em) 0px;
        @media (any-hover: hover) {
            &:hover {
                color: $orangeColor;
            }
        }
    }
    //.cart-list__quantity
    &__quantity {
        font-size: 14px;
        margin: 0px 0px calc(5px/14px * 1em) 0px;
    }
    //.cart-list__delete
    &__delete {
        color: #b56533;
        font-size: 14px;
        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
    //.cart-list__item
    &__item {
        display: flex;
        align-items: flex-start;
        &:not(:last-child) {
            margin: 0px 0px 15px 0px;
        }
    }
}

//===========================================================
//Burger
.icon-menu {
	display: none;
	@media (max-width: #{$md3}px) {
		@include adaptiv-value("margin-left", 32, 15, 1);
		position: relative;
		display: block;
		flex: 0 0 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
        background-color: transparent;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 30px;
			height: 2px;
			background-color: #262f56;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&.active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}

body {
    &.lock {
        position: fixed;
    }
}