<footer class="footer">
   <div class="footer__container container">
      <div class="footer__body">
         <div class="footer__main">
            <a href="index.html" class="footer__logo _footer-title">Funiro.</a>
            <div class="footer__text">
               Worldwide furniture store since 2020. We sell over 1000+ branded products on our website
            </div>
            <div class="footer__contacts contacts-footer">
               <a href="https://www.google.com/maps/place/Sawojajar,+Kedungkandang,+Malang+City,+East+Java,+Indonesia/@-7.9748165,112.657289,15z/data=!3m1!4b1!4m5!3m4!1s0x2dd6285b6702398d:0xefa79a48c279fb0!8m2!3d-7.9726493!4d112.6586009" target="_blank" class="contacts-footer__item _icon-location">Sawojajar Malang, Indonesia</a>
               <a href="tel:+62894563455" class="contacts-footer__item _icon-phone">+6289 456 3455</a>
               <a href="https://www.funiro.com" target="_blank" class="contacts-footer__item">www.funiro.com</a>
            </div>
         </div>
         <div class="footer__menu menu-footer">
            <div class="menu-footer__column">
               <button type="button" class="menu-footer__title _footer-title _icon-arrow-down">Menu</button>
               <ul class="menu-footer__list">
                  <li><a href="products.html" class="menu-footer__link">Products</a></li>
                  <li><a href="products.html" class="menu-footer__link">Rooms</a></li>
                  <li><a href="index.html#inspiration" class="menu-footer__link">Inspiration</a></li>
                  <li><a href="index.html" class="menu-footer__link">About Us</a></li>
                  <li><a href="index.html" class="menu-footer__link">Term & Policy</a></li>
               </ul>
            </div>
            <div class="menu-footer__column">
               <button type="button" class="menu-footer__title _footer-title _icon-arrow-down">Account</button>
               <ul class="menu-footer__list">
                  <li><a href="" class="menu-footer__link">My Account</a></li>
                  <li><a href="" class="menu-footer__link">Checkout</a></li>
                  <li><a href="" class="menu-footer__link">My Cart</a></li>
                  <li><a href="products.html" class="menu-footer__link">My catalog</a></li>
               </ul>
            </div>
            <div class="menu-footer__column">
               <button type="button" class="menu-footer__title _footer-title _icon-arrow-down">Stay Connected</button>
               <ul class="menu-footer__list">
                  <li><a href="https://www.facebook.com" class="menu-footer__link">Facebook</a></li>
                  <li><a href="https://www.instagram.com" class="menu-footer__link">Instagram</a></li>
                  <li><a href="https://twitter.com" class="menu-footer__link">Twitter</a></li>
               </ul>
            </div>
         </div>
         <div class="footer__subscribe subscribe">
            <div class="subscribe__title _footer-title">Stay Updated</div>
            <form data-message="subscribe" data-test action="#" class="subscribe__form">
               <input autocomplete="off" type="email" name="subscribe" id="subscribe" class="subscribe" placeholder="Enter your email" required>
               <button type="submit" class="subscribe__button _icon-send"></button>
            </form>
         </div>
      </div>
   </div>
</footer>