<header class="header">
  <div class="header__wrapper">
    <div class="header__container container">
      <div class="header__body">
        <div class="header__main">
          <a href="index.html" class="header__logo">Funiro.</a>
          <div class="header__menu menu">
            <nav class="menu__body">
              <ul class="menu__list">
                <li class="menu__item">
                  <button type="button" class="menu__link">Products</button>
                  <button type="button" class="menu__arrow _icon-arrow-down"></button>
                  <ul class="menu__sub-list">
                    <li class="menu__sub-item">
                      <a href="products.html" data-product="all" class="menu__sub-link">All Products</a>
                    </li>
                    <li class="menu__sub-item">
                      <a href="products.html" data-product="new" class="menu__sub-link">New arrivals</a>
                    </li>
                    <li class="menu__sub-item">
                      <a href="products.html" data-product="sale" class="menu__sub-link">Sale</a>
                    </li>
                  </ul>
                </li>
                <li class="menu__item">
                  <button type="button" class="menu__link">Rooms</button>
                  <button type="button" class="menu__arrow _icon-arrow-down"></button>
                  <ul class="menu__sub-list">
                    <li class="menu__sub-item">
                      <a href="products.html" data-room="all" class="menu__sub-link">All Rooms</a>
                    </li>
                    <li class="menu__sub-item">
                      <a href="products.html" data-room="bedroom" class="menu__sub-link">Bedroom</a>
                    </li>
                    <li class="menu__sub-item">
                      <a href="products.html" data-room="living" class="menu__sub-link">Living room</a>
                    </li>
                    <li class="menu__sub-item">
                      <a href="products.html" data-room="dining" class="menu__sub-link">Dining room</a>
                    </li>
                  </ul>
                </li>
                <li class="menu__item">
                  <a href="index.html#inspiration" class="menu__link">Inspirations</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="header__search">
          <div class="search-form">
            <button type="button" class="search-form__icon _icon-search"></button>
            <form action="#" class="search-form__item">
              <button type="submit" class="search-form__btn _icon-search"></button>
              <input type="text" name="form[]" autocomplete="off" class="search-form__input" placeholder="Search for minimalist chair">
            </form>
          </div>
        </div>
        <div class="header__actions actions-header">
          <a href="" class="actions-header__item actions-header__item_favorites _icon-favorite"></a>
          <div class="actions-header__item cart-header">
            <a href="" class="cart-header__icon _icon-cart"></a>
            <div class="cart-header__body">
              <ul class="cart-header__list cart-list"></ul>
            </div>
          </div>
          <a href="" class="actions-header__item actions-header__item_user ibg">
            <img src="../assets/images/avatar.jpg" alt="avatar" id="avatar">
          </a>
        </div>
        <button type="button" class="icon-menu">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </div>
  </div>
</header>